section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.div1, .div2 {
    text-align: center;
    margin: 0 20px;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    color: #555;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #bbb;
}
